@{
    Layout = "_MioLayout";
}



<div class="container bg-light mt-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6 px-0"><img class="img-fluid mb-lg-0" src="https://media-cdn.tripadvisor.com/media/photo-s/11/81/2c/d1/il-locale.jpg" style="width:1000px;height:400px;" alt="..." /></div>
        <div class="col-lg-6 px-5">
            <h1 class="font-weight-light">Chi siamo?</h1>
            <p>
                La nostra pizzeria è diventata nel corso di tutti questi anni un punto di riferimento importate per gli amanti di questa prelibatezza della tradizione italiana. Tradizione ed innovazione si fondono insieme per offrire alla clientela una buona pizza dal gusto classico ma originale.</p>
        </div>
    </div>
</div>

<div class="container bg-light mt-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6 px-5">
            <h1 class="font-weight-light">La nostra Filosofia...</h1>
            <p>
                La continua e costante ricerca, la cura e l’amore per la cucina sono il motore del Vicolo Battisti. La nostra filosofia del mangiare bene ci impone di portare in tavola sapori nuovi, che uniscano il mondo passato, fatto di tradizioni e degl’incredibili prodotti che la nostra terra ci offre, al presente, in cui l’unico limite è la nostra creatività.</p>
        </div>
        <div class="col-lg-6 px-0"><img class="img-fluid mb-lg-0" src="https://salerno.occhionotizie.it/wp-content/uploads/2019/05/da25d56c42b32076dac572c402efc6b7.jpg" style="width:1000px;height:400px;" alt="..." /></div>
    </div>
</div>

<div class="container bg-light mt-5 mb-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6 px-0"><img class="img-fluid mb-lg-0" src="https://www.pizzerialacantina.it/wp-content/uploads/2022/02/ristorante-lacenatina-home1.jpg" style="width:1000px;height:400px;" alt="..." /></div>
        <div class="col-lg-6 px-5">
            <h1 class="font-weight-light">Un po' di storia...</h1>
            <p>
                Quando abbiamo aperto volevamo far scoprire agli Astigiani la scioglievolezza della Pizza Napoletana.
                <br />
                Con il passare del tempo abbiamo capito che la nostra mission non era solo quella di soddisfare lo stomaco; volevamo che ogni nostro cliente vivesse un’esperienza unica nel nostro locale.
                <br />
                Sentirsi a Casa, divertirsi, passare una serata memorabile e non vedere l’ora di ritornare.
            </p>
        </div>
    </div>
</div>