@using LaMiaPizzeria.Models.ModelForViews
@model ListPizzas


@if (Model.ResultPizza.Count == 0)
{
    <h2>Non ho trovato articoli con la ricerca "@Model.SearchString"!</h2>
}
else
{
    <h2>Ho trovato i seguenti articoli con la ricerca "@Model.SearchString":</h2>
    <ol>
        @foreach (Pizza pizza in Model.ResultPizza)
        {
            <li>@pizza.Name - @pizza.Description</li>
        }

    </ol>
}